* {
  margin: 0;
}
body {
    margin: 0;
    margin-top: 0;
    padding: 0%;
    background: #fff;
}

aside {
    float: left;
    background: #2f5aae;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 0 solid #2f5aae;
}

aside h3 {
    margin-top: 5px;
    font-size: 40px;
}

aside ul {list-style: none}
aside ul li {
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
    font-size: 20px;
    transition: transform .2s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #000000
    text-decoration: none;
    transform: scale(1.1);
}

main .features {
    float: left;
    color: #2f5aae;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}
main .features {font-size: 30px;}
main .features p {max-width: 500px; margin: 20px auto}

.loading {
    color: #fff;
    background: #2f5aae;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #2f5aae;
    color: #fff;
    border: none;
}



}